body{
    background-color:aqua;
    font-family: "Roboto", sans-serif;
}
body h1{
    font-family: "Righteous", cursive;
    font-size: 44px;
    color: white;
}
body h2{
    font-family: "Righteous", cursive;
    font-size: 26px;
}
body h3{
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
body h4{
    font-weight: 700;
    font-size: 16px;
}
.caixa-prato::-webkit-scrollbar{
    display: none;
}
.caixa-bebida::-webkit-scrollbar{
    display: none;
}
.caixa-sobremesa::-webkit-scrollbar{
    display: none;
}

.topo{
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    display: flex;
    position: fixed;
    top: 0px;
}

.titulo{
    margin-top: 8px;
    margin-left: 21px;
    width: 100%;
    height: 92px;
}

.selec-prato{
    margin-top: 123px;
}
.selec-prato h2{
    margin-left: 19px;
}
.caixa-prato{
    margin-top: 17px;
    height: 216px;
    overflow-x: scroll;
    display: flex;
}
.prato{
    width: 172px;
    height: 216px;
    margin-right: 16px;
    border-radius: 9px;
    background-color: blueviolet;
    flex-shrink: 0;
}
.caixa-prato :nth-child(1){
    margin-left: 19px;
}



.selec-bebida{
    margin-top: 27px;
}
.selec-bebida h2{
    margin-left: 19px;
}
.caixa-bebida{
    margin-top: 17px;
    height: 216px;
    overflow-x: scroll;
    display: flex;
}
.bebida{
    width: 172px;
    height: 216px;
    margin-right: 16px;
    border-radius: 9px;
    background-color: blueviolet;
    flex-shrink: 0;
}
.caixa-bebida :nth-child(1){
    margin-left: 19px;
}



.selec-sobremesa{
    margin-top: 27px;
    margin-bottom: 108px;
}
.selec-sobremesa h2{
    margin-left: 19px;
}
.caixa-sobremesa{
    margin-top: 17px;
    height: 216px;
    overflow-x: scroll;
    display: flex;
}
.sobremesa{
    width: 172px;
    height: 216px;
    margin-right: 16px;
    border-radius: 9px;
    background-color: blueviolet;
    flex-shrink: 0;
}
.caixa-sobremesa :nth-child(1){
    margin-left: 19px;
}

.menu-inferior{
    width: 100%;
    height: 92px;
    background-color: white;
    display: flex;
    position: fixed;
    bottom: 0px;
}

.selec-fechar{
    width: 100%;
    height: 61px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    background: #CBCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selec-fechar > div{
    width: 190px;

}
.selec-fechar p{
    font-size: 20px;
    color: white;
}
